<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th>{{ get("INVOICES.TABLE.HEADER_DATE") }}</th>
        <th>{{ get("INVOICES.TABLE.HEADER_CLIENT") }}</th>
        <th>
          {{ get("INVOICES.TABLE.HEADER_TYPE") }}
        </th>
        <th>{{ get("INVOICES.TABLE.HEADER_STATUS") }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowData" (click)="onEditDetail(row.id)">
        <td>{{ row.invoiceNr }}</td>
        <td>{{ row.dateTimeCreated }}</td>
        <td>{{ row.companyName }}</td>
        <td>{{ row.invoicetype }}</td>
        <td>{{ row.statusTitle }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary float-right" (click)="handleNewInvoice()">
    {{ get("INVOICES.BUTTONS.NEW_INVOICE") }}
  </button>

  <!-- IMPORT INTO FIREBASE
  <button (click)="onImportInvoices()">ImportInvoices</button> -->
</div>
