@import "../../../../constants/variables.scss";

table[class^="table"] {
  //  background-color: $column-background-color;
  margin: 1rem auto;
  width: 80%;

  tr {
    height: 3rem;
    th {
      color: white;
      font-weight: bold;
    }

    td {
      color: white;
    }
  }
}
.inputDate {
  width: 40%;
  &.selectCompanies {
    display: block;
  }
}

label {
  display: block;
}

textarea {
  width: 100%;
}
