$main-menu-background-gradient: linear-gradient(#07456c, #206e95);
$button-background-color: #4784bf;
$container-background-color: #c9cccc;
$container-border-radius: 1rem;
$column-background-color: #93929a;
$column-border: 1px solid #444;
$column-border-radius: 1rem;
$column-padding: 2rem 1rem 1rem 1rem;
$row-height: 25%;
$row-height-high: 40%;
$row-height-slim: 10%;
$row-height-fit-content: "fit-content";
$h1-font-size: 14pt;
$label-font-size: 11pt;
$link-color-hover-yellow: yellow;
$link-color-hover-blue: blue;
$text-color: white;
