<div>
  <div class="signinContainer">
    <div class="header">login ifactuur</div>
    <form name="login" onSubmit="return false">
      <table>
        <tbody>
          <tr>
            <td>
              <label htmlFor="useremail">E-mail</label>
            </td>
            <td>
              <input
                type="text"
                name="email"
                maxLength="55"
                size="30"
                #email
                (focus)="onClear()"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label htmlFor="password">Wachtwoord</label>
            </td>
            <td>
              <input
                type="password"
                name="password"
                maxLength="55"
                size="30"
                #password
                (focus)="onClear()"
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button (click)="onSignIn(email.value, password.value)">
                OK
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="alert">{{ errorMsg }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="links">
    Nog geen account? Klik
    <a [routerLink]="ROUTES.SIGN_UP">hier</a> om te registreren.
    <div><a [routerLink]="ROUTES.PASSWORD_FORGET">wachtwoord vergeten?</a></div>
  </div>
</div>
