<div>
  <div class="signinContainer">
    <div class="header">{{ this.get("SIGN_IN.TITLE") }}</div>
    <form name="login" onSubmit="return false">
      <table>
        <tbody>
          <tr>
            <td>
              <label htmlFor="useremail">{{
                this.get("SIGN_IN.INPUT_EMAIL")
              }}</label>
            </td>
            <td>
              <input
                type="text"
                name="email"
                maxLength="55"
                size="30"
                #inputEmail
                (focus)="inputEmail.value = ''"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label htmlFor="password">{{
                this.get("SIGN_IN.INPUT_PASSWORD")
              }}</label>
            </td>
            <td>
              <input
                type="password"
                name="password"
                maxLength="55"
                size="30"
                #inputPassword
                (focus)="inputPassword.value = ''"
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button (click)="onSignIn(inputEmail.value, inputPassword.value)">
                OK
              </button>
            </td>
          </tr>
          <tr>
            <td *ngIf="errorMsgToken" colspan="2" class="alert">
              <p>{{ this.get("SIGN_IN." + errorMsgToken) }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="links">
    Nog geen account? Klik
    <a [routerLink]="ROUTES.SIGN_UP">hier</a> om te registreren.
    <div><a [routerLink]="ROUTES.PASSWORD_FORGET">wachtwoord vergeten?</a></div>
  </div>
</div>
