@import "./../constants/variables.scss";
* {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}
.navContainer,
.container {
  width: 70%;
  margin: auto;
}

.container {
  background-color: $container-background-color;
  border-radius: $container-border-radius;
  height: 800px;
  margin-top: 1rem;
}
