<div class="container">
  <form #f="ngForm" (ngSubmit)="onSaveInvoice(f)">
    <div class="row">
      <div class="col">
        <div>
          <label htmlFor="date" class="mb-2">
            {{ get("INVOICE.INPUT_INVOICE_DATE") }}
          </label>
          <input
            type="date"
            class="inputDate"
            name="date"
            id="date"
            [(ngModel)]="invoice.date"
          />
        </div>
      </div>

      <div class="col">
        <div>
          <label htmlFor="company">{{ get("INVOICE.INPUT_COMPANY") }}</label>
          <select
            name="company"
            id="company"
            class="selectCompanies"
            [title]="get('INVOICE.INPUT_COMPANY')"
            [(ngModel)]="invoice.company"
          >
            <option value="">Select a company</option>
            <option *ngFor="let row of rowData">{{ row }}</option>
          </select>
          <button class="btn btn-primary slateGrey mx-3">
            {{ get("INVOICE.BUTTONS.NEW_COMPANY") }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label htmlFor="invoice-period">{{
          get("INVOICE.INPUT_PERIOD")
        }}</label>
        <div class="displayFlex mt-2">
          <div class="mr-3">
            <label htmlFor="periodFrom" class="mb-1">
              {{ get("INVOICE.INPUT_PERIOD_FROM") }}
            </label>
            <input
              type="date"
              name="periodFrom"
              id="periodFrom"
              [(ngModel)]="invoice.periodFrom"
            />
          </div>
          <div class="ml-3">
            <label htmlFor="periodTo" class="mb-1">
              {{ get("INVOICE.INPUT_PERIOD_TO") }}
            </label>
            <input
              type="date"
              name="periodTo"
              id="periodTo"
              [(ngModel)]="invoice.periodTo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label htmlFor="description">{{ get("INVOICE.INPUT_SERVICES") }}</label>
        <textarea
          name="description"
          id="description"
          rows="6"
          class="mt-3"
          [(ngModel)]="invoice.description"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="inputRow">
          <div class="rateInputs">
            <div class="hourlyRate">
              <label htmlFor="hourlyRate">{{
                get("INVOICE.INPUT_RATE")
              }}</label>
              <input
                type="number"
                [name]="FIELDNAMES.HOURLYRATEINT"
                id="hourlyRate"
                (blur)="calculateTotal()"
                [(ngModel)]="invoice.hourlyRateInt"
              />
              {{ DECIMAL_SIGN }}
              <input
                type="number"
                min="0"
                max="99"
                [name]="FIELDNAMES.HOURLYRATEDEC"
                (blur)="calculateTotal()"
                [(ngModel)]="invoice.hourlyRateDec"
              />
            </div>
            <div class="hours">
              <label htmlFor="hours">{{ get("INVOICE.INPUT_HOURS") }}</label>
              <input
                type="number"
                [name]="FIELDNAMES.HOURS"
                [(ngModel)]="invoice.hours"
                (blur)="calculateTotal()"
              />
            </div>
            <div class="tax">
              <label htmlFor="tax">{{ get("INVOICE.INPUT_TAX") }}</label>
              <select
                id="tax"
                [name]="FIELDNAMES.TAX"
                [(ngModel)]="invoice.tax"
                (blur)="calculateTotal()"
              >
                <option *ngFor="let taxValue of CONSTANTS.TAX_VALUES">{{
                  taxValue
                }}</option>
              </select>
              %
            </div>
          </div>
          <div class="total">
            {{ get("INVOICE.TOTAL") }}:
            <span>{{ totalBeforeTaxFormatted }}</span>
            {{ taxFormatted ? "+" : "" }}
            <span>{{ taxFormatted }}</span>
            {{ totalFormatted ? "=" : "" }}
            <span>{{ totalFormatted }}</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">
          Save
        </button>
        <button class="btn btn-primary float-right" (click)="onListInvoices()">
          List
        </button>
      </div>
    </div>
  </form>
</div>
