<div>
  <div class="mainMenu">
    <ul>
      <li routerLinkActive="navMenuItemSelected">
        <a [routerLink]="ROUTES.INVOICES">Invoices</a>
      </li>
      <li routerLinkActive="navMenuItemSelected">
        <a [routerLink]="ROUTES.BILLS">Bills</a>
      </li>
      <li routerLinkActive="navMenuItemSelected">
        <a [routerLink]="ROUTES.COMPANIES">Companies</a>
      </li>
      <li routerLinkActive="navMenuItemSelected">
        <a [routerLink]="ROUTES.ADMIN">Settings</a>
      </li>
      <li routerLinkActive="navMenuItemSelected">
        <a [routerLink]="ROUTES.STATISTICS">Statistics</a>
      </li>
      <li routerLinkActive="navMenuItemSelected">
        <a [routerLink]="ROUTES.SIGN_IN">Sign in</a>
      </li>
      <li><app-sign-out></app-sign-out></li>
    </ul>
  </div>
  <div class="languageButtons">
    <button>
      engels
    </button>
    &nbsp;/
    <button>
      nederlands
    </button>
  </div>
</div>
